@use "../abstract/constans" as a;
@use "../abstract/mixin" as m;

.main {
  padding: 10% 20px 0%;
  
  @include m.desktop {
    padding: 0 20px;
  };
};

.main__desk {
  display: flex;
  justify-content: center;
  color: a.$color-border;
  @include m.desktop {
    margin: 15% 0 0 0;
  };
  @include m.tablet {
    margin: 20% 0 0 0;
  }
  @include m.tablet-small {
    margin: 12% 0 0 0;
  };
  @include m.mobale-big {
    margin: 5% 0 0 0;
  };
  @include m.mobale-small {
    margin: 10% 0 0 0;
  }
};

.main__title {
  max-width: 100%;
  margin: 0 0 2% 0;
  font-size: 4.2rem;
  color: a.$color-text;
  @include m.desktop {
    font-size: 2.5rem;
  };
  @include m.tablet-big {
    font-size: 2.2rem;
  };
  @include m.tablet-small {
    margin: 0 0 70px 0;
    font-size: 2.0rem;
  };
  @include m.mobale-big {
    margin: 0 0 30px 0;
  }
};

.main__text {
  margin: 0 0 5% 0;
  padding: 20px;
  font-size: 2.4rem;
  color: a.$color-text;
  background-color: a.$color-rbd-text;
  @include m.desktop {
    font-size: 2.0rem;
  };
  @include m.tablet-big {
    font-size: 1.8rem;
  };
  @include m.tablet {
    margin: 0 0 15% 0;
    font-size: 1.6rem;
  };
  @include m.tablet-small {
    margin: 0 0 18% 0;
    font-size: 1.4rem;
  };
  @include m.mobale-big {
    margin: 0 0 30% 0;
  }
  @include m.mobale {
    margin: 0 0 30% 0;
    font-size: 1.4rem;
  };
  @include m.mobale-small {
    margin: 0 0 20% 0;
    font-size: 1.5rem;
  };
}

.main__button {
  @include m.mobale-small {
    display: flex;
    justify-content: center;
  }
}

.main__btn {
  max-width: 282px;
  padding: 12px 90px;
  border-radius: 5px;
  font-size: 2.9rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: a.$color-button;
  color: a.$color-text-button;

  transition: 0.7s ease-in-out;
  @include m.desktop {
    max-width: 202px;
    font-size: 2.0rem;
  };
  @include m.tablet-big {
    font-size: 1.7rem;
  };
  @include m.tablet {
    padding: 20px 95px;
    font-size: 1.9rem;
  };
  @include m.tablet-small {
    padding: 20px 95px;
    font-size: 1.6rem;
  };

  @include m.mobale {
    padding: 10px 75px;
    font-size: 1.3rem;
  }

  @include m.mobale-footer {
    padding: 10px 60px;
    font-size: 1.5rem;
  }
};

.main__btn:hover {
  transition: 0.7s ease-in-out;
  background-color: a.$color-border;
  color: a.$color-text;
  @include m.tablet-big {
    background-color: a.$color-button;
    color: a.$color-text-button;
  }
}