@use "../abstract/constans" as a;


.main__desk {
  display: flex;
  justify-content: space-between;
};

.main__title {
  max-width: 350px;
  margin: 0 0 20px 0;
  font-size: 3.6rem;
  color: a.$color-text;
};

.main__text {
  margin: 0 0 60px 0;
  max-width: 450px;
  font-size: 2.4rem;
  color: a.$color-text;

}

.main__imgs {
  display: flex;
  justify-content: space-between;
};

.main__img {
  width: 424px;
  height: 612px;
  background-repeat: no-repeat;
  &_first {
    background-image: url('../../src/img/main/конь.png');
  };
  &_second{
    background-image: url('../../src/img/main/качели.png');
  };
};

.main__btn {
  max-width: 282px;
  padding: 12px 90px;
  border-radius: 5px;
  font-size: 2.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: a.$color-button;
  color: a.$color-text-button;

  transition: 0.7s ease-in-out;
};

.main__btn:hover {
  transition: 0.7s ease-in-out;
  background-color: a.$color-border;
  color: a.$color-text;
}