@use '../abstract/constans' as a;
@use '../abstract/mixin' as m;

.toys {
  padding: 30px;
  display: none;
  @include m.mobale-big-cards {
    padding: 15px;
  };
  @include m.tablet-small {
    padding: 10px;
  }
};

.toys__main__active {
  display: block;
  opacity: 0;
  animation: show-Toys 1s forwards;
};

@keyframes show-Toys {
  0% {opacity: 0;}
  100%{opacity: 1;}
};

.toys__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1.0rem;
  @include m.desktop-big-cards {
    justify-content: space-between;
  };
  @include m.mobale-big-cards {
    gap: 5.0rem 1.0rem;
  }
};

//filter

.toys__filters {
  margin: -2% 0 0 0;
  position: fixed;
  @include m.desktop-small-cards {
    margin: -3% 0 0 0;
  };
  @include m.mobale-big-cards {
    position: static;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 10px 15px;
  };
  @include m.modale-small-cards {
    grid-template-columns: repeat(1, 0.5fr);
  }
};

.toys__forms, .toys__colors, 
.toys__dimensions, 
.toys__years, 
.toys__count, 
.toys__select-form,
.toys__favorite-btn {
  margin: 0 0 10px 0;
  @include m.mobale-big-cards {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 0 7px 0;
  };
}

.toys__search {
  padding: 0.5rem;
  margin: 0 0 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  @include m.cards {
    font-size: 1.2rem;
  };
  @include m.mobale-big-cards {
    width: 170px;
    height: 30px;
    font-size: 1.0rem;
  };
};

.toys__title {
  display: block;
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  @include m.tablet-cards {
    font-size: 1.7rem;
  };
  @include m.cards {
    font-size: 1.5rem;
  };
  @include m.mobale-big-cards {
    font-size: 1.2rem;
  };
  @include m.tablet-small {
    font-size: 1.6rem;
  };
  @include m.mobale-small {
    font-size: 1.4rem;
  }
};

.toys__ball {
  width: 33px;
  height: 33px;
  background-color: transparent;
  background-size: 33px 33px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  @include m.cards {
    width: 23px;
    height: 23px;
    background-size: 23px 23px;
  }
  &_first {
    background-image: url('../../src/img/icon/ball-2.svg');
  };
  &_second {
    background-image: url('../../src/img/icon/bell.svg');
  };
  &_third {
    background-image: url('../../src/img/icon/cone.svg');
  };
  &_fourth {
    background-image: url('../../src/img/icon/snowflake.svg');
  };
  &_fifth {
    background-image: url('../../src/img/icon/toy.svg');
  }
};

.toys__colors_count {
  display: flex;
  flex-direction: row;
  gap: 0 5px;
}

.toys__color {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.toys__color:nth-child(1) {
  background-color: a.$color-text;
};

.toys__color:nth-child(2) {
  background-color: a.$color-link;
};

.toys__color:nth-child(3) {
  background-color: a.$color-toys-shape-third;
};

.toys__color:nth-child(4) {
  background-color: a.$color-toys-shape-fourth;
};

.toys__color:nth-child(5) {
  background-color: a.$color-toys-shape-fifth;
};

.toys__size {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  &_big {
    width: 40px;
    height: 40px;
    background-image: url('../../src/img/icon/ball-2.svg');
    background-size: 40px 40px;
  };
  &_average {
    width: 30px;
    height: 30px;
    background-image: url('../../src/img/icon/ball-2.svg');
    background-size: 30px 30px;
  };
  &_small {
    width: 20px;
    height: 20px;
    background-image: url('../../src/img/icon/ball-2.svg');
    background-size: 20px 20px;
  };
};

.toys__years_count {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  gap: 10px 10px;
};

.toys__year {
  width: 50px;
  font-size: 1.5rem;
  background-color: a.$color-footer;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  @include m.tablet-cards {
    font-size: 1.5rem;
  };
  @include m.cards {
    font-size: 1.3rem;
  };
  @include m.mobale-big-cards {
    font-size: 1.1rem;
  };
};

.toys__count_show {
  font-size: 1.7rem;
  font-weight: 600;
  @include m.tablet-cards {
    font-size: 1.7rem;
  };
  @include m.mobale-big-cards {
    font-size: 1.4rem;
  };
};

.toys__count_range {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  width: 220px;
};

.toys__range {
  width: 100%;
  @include m.mobale-big-cards {
    width: 80%;
  };
};

.reset {
  margin: 7px 0 0 0;
  @include m.tablet-small {
    margin: 30px 0 0 0;
  }
}

.reset__btn {
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background-color: a.$color-button;
  @include m.cards {
    font-size: 1.4rem;
  };
};

//select option

.toys__sort {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  @include m.cards {
    padding: 10px 10px;
    font-size: 1.3rem;
  };
  @include m.mobale-big-cards {
    width: 180px;
    padding: 7px 7px;
    font-size: 1.1rem;
  };
};

//cards

.cards {
  margin: 0 0 0 30%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 20px 20px;
  @include m.desktop-big-cards {
    grid-template-columns: repeat(2, 0.5fr);
  };
  @include m.desktop-small-cards {
    margin: 0 0 0 40%;
  };
  @include m.tablet-cards {
    margin: 0 0 0 45%;
  };
  @include m.tablet {
    margin: 0 0 0 42%;
    gap: 15px 15px;
  };
  @include m.tablet-small-cards {
    margin: 0 0 0 56%;
    grid-template-columns: repeat(1, 0.5fr);
  };
  @include m.cards {
    margin: 0 0 0 60%;
  };
  @include m.mobale-big-cards {
    margin: 0 0 0 15px;
    grid-template-columns: repeat(2, 0.3fr);
    gap: 10px 20px;
    justify-items: center;
  };
  @include m.tablet-small {
    margin: 0 0 0 1px;
    grid-template-columns: repeat(2, 0.2fr);
    gap: 7px 7px;
  };
  @include m.modale-small-cards {
    margin: 0 0 0 15%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 7px;
  };
  @include m.mobale {
    margin: 0 0 0 10%
  };

};

.card {
  width: 280px;
  position: relative;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: a.$color-toys-card;
  cursor: pointer;
  @include m.desktop-small-cards {
    width: 220px;
  };
  @include m.tablet-big-cards {
    width: 190px;
  };
  @include m.tablet-cards {
    width: 150px;
  };
  @include m.tablet-small-cards {
    width: 220px;
  };
  @include m.cards {
    width: 150px;
  };
  @include m.modale-small-cards {
    width: 220px;
  };
  @include m.mobale-small {
    width: 170px;
  }
}

.card__title {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 2.1rem;
  color: a.$color-text-button;
  @include m.desktop-small-cards {
    font-size: 1.8rem;
  };
  @include m.tablet-big-cards {
    font-size: 1.5rem;
  };
  @include m.tablet-cards {
    font-size: 1.4rem;
  };
  @include m.tablet-small-cards {
    font-size: 1.5rem;
  };
  @include m.cards {
    font-size: 1.4rem;
  };
  @include m.modale-small-cards {
    font-size: 1.7rem;
  };
  @include m.mobale-small {
    font-size: 1.5rem;
  }
};

.card__information {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  @include m.desktop-small-cards {
    gap: 0 10px;
  }
}

.card__img {
  width: 90px;
  height: 90px;
  @include m.tablet-big-cards {
    width: 70px;
    height: 70px;
  };
  @include m.tablet-cards {
    width: 50px;
    height: 50px;
  };
  @include m.tablet-small-cards {
    width: 70px;
    height: 70px;
  };
  @include m.cards {
    width: 50px;
    height: 50px;
  }
};

.card__desk {
  display: flex;
  flex-direction: column;
}

.card__text {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  color: a.$color-text-button;
  @include m.desktop-small-cards {
    font-size: 1.6rem;
  };
  @include m.tablet-big-cards {
    margin: 0 0 5px 0;
    font-size: 1.5rem;
  };
  @include m.tablet-cards {
    margin: 0 0 3px 0;
    font-size: 1.3rem;
  };
  @include m.tablet-small-cards {
    font-size: 1.5rem;
  };
  @include m.cards {
    font-size: 1.3rem;
  };
  @include m.modale-small-cards {
    font-size: 1.5rem;
  };
  @include m.mobale-small {
    font-size: 1.3rem;
  }
};

.card__text span {
  padding: 0 0 0 5px;
};

//ribbon

.card__favorite {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 200px;
  left: -8px;
  
  background-color: a.$color-text;
  @include m.tablet-big-cards {
    width: 60px;
    height: 30px;
    top: 170px;
    left: -8px;
  };
  @include m.tablet-cards {
    width: 40px;
    height: 20px;
    top: 170px;
    left: -8px;
  };
  @include m.tablet-small-cards {
    top: 150px;
  };
  @include m.modale-small-cards {
    width: 60px;
  }
};

.card__favorite::before {
  position: absolute;
  top: -8px;
  content: "";
  height: 0;
  width: 0;

  border-bottom: 8px solid a.$color-toys-card-text;
  border-left: 8px solid transparent;
};

.card__favorite::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid a.$color-text;
  right: -21px;
  @include m.tablet-big-cards {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid a.$color-text;
    right: -17px;
  };
  @include m.tablet-cards {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid a.$color-text;
    right: -12px;
  };
};

//checbox

.toys__favorite-btn-form,
.toys__marked {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  @include m.tablet-small {
    gap: 0 5px;
  };
  @include m.tablet-small {
    flex-direction: column;
  };
}

.toys__favorite-checbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}






