@use '../abstract/constans' as a;

.toys {
  padding: 30px;
  display: none;
};

.toys__main__active {
  display: block;
  opacity: 0;
  animation: show-Toys 1s forwards;
};

@keyframes show-Toys {
  0% {opacity: 0;}
  100%{opacity: 1;}
};

.toys__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

//filter

.toys__forms, .toys__colors, 
.toys__dimensions, 
.toys__years, 
.toys__count, 
.toys__select-form,
.toys__favorite-btn {
  margin: 0 0 15px 0;
}

.toys__search {
  padding: 0.5rem;
  margin: 0 0 20px 0;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
};

.toys__title {
  display: block;
  margin: 0 0 10px 0;
  font-size: 2.1rem;
};

.toys__ball {
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-size: 44px 44px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  &_first {
    background-image: url('../../src/img/icon/ball-2.svg');
  };
  &_second {
    background-image: url('../../src/img/icon/bell.svg');
  };
  &_third {
    background-image: url('../../src/img/icon/cone.svg');
  };
  &_fourth {
    background-image: url('../../src/img/icon/snowflake.svg');
  };
  &_fifth {
    background-image: url('../../src/img/icon/toy.svg');
  }
};

.toys__colors_count {
  display: flex;
  flex-direction: row;
  gap: 0 5px;
}

.toys__color {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.toys__color:nth-child(1) {
  background-color: a.$color-text;
};

.toys__color:nth-child(2) {
  background-color: a.$color-link;
};

.toys__color:nth-child(3) {
  background-color: a.$color-toys-shape-third;
};

.toys__color:nth-child(4) {
  background-color: a.$color-toys-shape-fourth;
};

.toys__color:nth-child(5) {
  background-color: a.$color-toys-shape-fifth;
};

.toys__size {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  &_big {
    width: 50px;
    height: 50px;
    background-image: url('../../src/img/icon/ball-2.svg');
    background-size: 50px 50px;
  };
  &_average {
    width: 40px;
    height: 40px;
    background-image: url('../../src/img/icon/ball-2.svg');
    background-size: 40px 40px;
  };
  &_small {
    width: 30px;
    height: 30px;
    background-image: url('../../src/img/icon/ball-2.svg');
    background-size: 30px 30px;
  }
};

.toys__years_count {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  gap: 10px 10px;
};

.toys__year {
  width: 50px;
  font-size: 1.7rem;
  background-color: a.$color-footer;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
};

.toys__count_show {
  font-size: 1.9rem;
  font-weight: 600;
};

.toys__count_range {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  width: 220px;
};

.toys__range {
  width: 100%;
};

.reset {
  margin: 3.5rem 0 0 0;
}

.reset__btn {
  padding: 8px 20px;
  border-radius: 7px;
  font-size: 2.0rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background-color: a.$color-button;
};

//select option

.toys__sort {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.5rem;
};

//cards

.cards {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 20px 20px;
}

.card {
  position: relative;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: a.$color-toys-card;
  cursor: pointer;
}

.card__title {
  margin: 0 0 20px 0;
  font-size: 2.5rem;
  color: a.$color-text-button;
};

.card__information {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}

.card__img {
  width: 90px;
  height: 90px;
};

.card__text {
  margin: 0 0 10px 0;
  font-size: 2.0rem;
  color: a.$color-text-button;
};

.card__text span {
  padding: 0 0 0 5px;
};

//ribbon

.card__favorite {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 230px;
  left: -8px;
  
  background-color: a.$color-text;
};

.card__favorite::before {
  position: absolute;
  top: -8px;
  content: "";
  height: 0;
  width: 0;

  border-bottom: 8px solid a.$color-toys-card-text;
  border-left: 8px solid transparent;
};

.card__favorite::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid a.$color-text;
  right: -21px;
};

//checbox

.toys__favorite-checbox {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}






