$color-body: #6D8BA7;
$color-text: #ffffff;
$color-text-button: #000000;
$color-button: #D9756C;
$color-border: #730202;
$color-footer: #ffffff;
$color-link:#F2C12E;
//shape filter
$toys-title:#FBB77E;
$color-toys-shape-third:#FD0000;
$color-toys-shape-fourth:#2199EB;
$color-toys-shape-fifth:#08AA05;

$color-toys-card: rgba(70, 130, 180, 0.7);
$color-toys-card-text:#DCDCDC;


$content-width: 1340px;
