@use "../abstract/constans" as a;
@use"../abstract/mixin" as m;



.header__link:hover, .header__icon:hover {
  transition: 0.3s color ease-in-out;
  color: a.$color-border;
  @include m.desktop-small-cards {
    border-radius: 0px;
    color: a.$color-link;
  }
};
