
$desktop-big-cards:1395px;
$desktop: 1150px;
$desktop-small-cards: 1070px;
$tablet-big-cards: 935px;
$tablet-big: 950px;
$tablet-cards: 875px;
$tablet: 765px;
$tablet-small-cards: 740px;
$cards: 606px;
$mobale-big-cards: 515px;
$tablet-small: 455px;//на это этапе стоим
$mobale-big: 410px;
$mobale: 365px;
$mobale-small: 350px;
$mobale-footer: 325px;