
$desktop-big-cards:1395px;
$desktop: 1150px;
$desktop-small-cards: 1070px;
$desktop-filter-big: 980px;
$tablet-big: 950px;
$tablet-big-cards: 935px;
$tablet-cards: 875px;
$tablet-filter: 865px;
$tablet-big-filter: 780px;
$tablet: 765px;
$tablet-small-cards: 740px;
$tablet-small-filter: 685px;
$cards: 606px;
$cards-filter: 530px;//стоим
$mobale-big-cards: 515px;
$tablet-small: 455px;
$modale-small-cards: 425px;
$mobale-big: 410px;
$mobale: 365px;
$mobale-small: 350px;
$mobale-footer: 325px;