@use "../abstract/constans" as a;
@use "../abstract/mixin" as m;


.header {
  padding: 5px 5px;
  background-color: a.$color-text-button;
  @include m.desktop {
    padding: 0 20px;
  };
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
};

.header__icon {
  width: 37px;
  height: 60px;
  background-size: 37px 60px;
  background-image: url('../../src/img/header/icon.png');
  cursor: pointer;
};

.header__links {
  display: flex;
  gap: 0px 80px;
  @include m.tablet {
    gap: 0px 10px;
  }
};

.header__link {
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.header__link:hover {
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid a.$color-border;
  @include m.tablet-big {
    border-bottom: none;
  }
}

.header__itemn {
  font-size: 2.2rem;
  @include m.desktop {
    font-size: 2.0rem;
  };
  @include m.tablet-big {
    font-size: 1.4rem;
  };
  @include m.tablet {
    font-size: 1.2rem;
  };
  @include m.tablet-small {
    font-size: 1.0rem;
  };
  @include m.mobale-footer {
    font-size: 1.5rem;
  }
}