@use "../abstract/constans" as a;
@use "../abstract/mixin" as m;

.header {
  padding: 20px 10px;
  @include m.desktop-filter-big {
    padding: 0px 10px 5px 10px;
  };
  @include m.tablet {
    padding: 10px;
  };
};

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include m.mobale-big-cards {
    justify-content: left;
    gap: 0 46%;
  };
  @include m.tablet-small {
    gap: 0 38%;
  };
  @include m.mobale-big {
    gap: 0 5%;
  }
};

.header__navigation {
  display: flex;
  flex-direction: row;
  gap: 0px 20px;
};

.header__link, .header__icon {
  font-size: 2.5rem;
  font-weight: 600;
  white-space: 1px;
  color: a.$color-link;
  cursor: pointer;
  transition: 0.3s color ease-in-out;
  @include m.tablet-cards {
    font-size: 2.2rem;
  };
  @include m.cards {
    font-size: 1.9rem;
  };
  @include m.mobale-big-cards {
    font-size: 1.5rem;
  };
};

.header__link_active {
  color: a.$color-border;
};